
    <div class="az-footer ht-40">
      <div class="container ht-100p pd-t-0-f">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
            &copy; BootstrapDash.com 
            - coded by <a target="_blank" href="https://appseed.us">AppSeed</a>
        </span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
            <a href="https://github.com/app-generator/jinja-azia-dashboard" target="_blank">Jinja Azia Dashboard</a>
        </span>
      </div><!-- container -->
    </div><!-- az-footer -->
